html, body, #app{
  height: 100%;
  width: 100%;
  background-color: #bfbfbf;
}

@media (max-width: 750px) {

  nav {
    width: 300px;
    height: 100%;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-600px, 0);
    transform: translate(-600px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  #search-menu {
    float:left;
    width: 300px;
    z-index: 2;
    position: absolute;
    left: 10px;
    border-radius: 20px;
    border: #828282 solid;
    background-color: rgba(145, 145, 145, 0.86);
    color: #ededed;
  }

  #recommendations {
    float:left;
    /*width: 80%;*/
    /*border: black solid;*/
    font-size: 5px;
    margin: 0;
  }

  #recommendations li{
    float:left;
    /*width: 80%;*/
    /*border: black solid;*/
    margin: 0;
    padding-right: 10px;
  }

}


/* Since we're mobile-first, by default, the drawer is hidden. */
nav {
  width: 300px;
  height: 100%;
  position: absolute;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-600px, 0);
  transform: translate(-600px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}
nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#menu{
  width: 40px;
  height: 10px;

}

#menu_icon {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#header{
  width: 100%;
  font-size: 15px;
}


#title {
  width: 100%;
  text-align: center;
}

#menu {
  padding-top: 20px;
  float: right;
  width: 100%;
  text-align: right;
}

#map-container {
  float:right;
  z-index: 1;
  width: 100%;
  height: 100%;
  /*border: blue solid;*/
}

#map {
  padding-bottom: 80%; /* This is the aspect ratio */
  width: 100%;
  height: 100%;
  float: right;
}

#search-menu {
  float:left;
  width: 33%;
  z-index: 2;
  position: absolute;
  left: 10px;
  border-radius: 20px;
  border: #828282 solid;
  background-color: rgba(145, 145, 145, 0.86);
  color: black; /*#ededed*/
}

#search {
  float:left;
  width: 100%;
}

#search-box{
  width: 95%;
  height: 50px;
  border-radius: 10px;
}

#recommendations {
  float:left;
  /*width: 80%;*/
  /*border: black solid;*/
  padding: 10px;
  font-size: 20px;

}

/* Weather API Styling*/
#weather {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

#weather-app {
    /*margin-right: 100px;*/
    width: 165px;
    height: 150px;
    z-index: 3;
    display: block;
    position: absolute;
    right: 0;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 50px #888888;
    overflow: hidden;
    text-align: center;
    font-family: "Mono";
    background-color: #1E90FF;
}

#icon {
  width: 100px;
  height: 100px;
}

#weather-title{
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;

}

#temp_display{
  float: left;
  margin-left:10px;
  padding-right: 10px;
  height: 80px;
}

#temp {
  float: right;
  font-size: 32px;
  margin-top: 30px;
}

#temp-details{

}

#temp-description{
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

#api-credit{
  font-size: 10px;
}



i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}
